---
import Body from '../components/Body.astro';

---

<div class="Navbar">
	<!-- Navbar -->
	<nav>
		<i class="bx bx-menu"></i>
        <input type="checkbox" id="theme-toggle" hidden>
        <label for="theme-toggle" class="theme-toggle"></label>
		<h1 style="margin-left: 100px;">Hola mundo</h1>
		<!-- <form action="#">
            <div class="form-input">
                <input type="search" placeholder="Search...">
                <button class="search-btn" type="submit"><i class='bx bx-search'></i></button>
            </div>
        </form> -->
		<!-- <input type="checkbox" id="theme-toggle" hidden>
        <label for="theme-toggle" class="theme-toggle"></label> -->
		<!-- <a href="#" class="notif">
            <i class='bx bx-bell'></i>
            <span class="count">12</span>
        </a> -->
		<!-- <a href="#" class="profile">
            <img src="images/logo.png">
        </a> -->
	</nav>

	<!-- End of Navbar -->
    <Body/>
</div>
<div class="menuToggle"></div>

<script>
	import "../index";
</script>
