---

---
<div class="menuToggle"></div>
<div class="sidebar">
   <ul>
      <li class="logo" style="--bg:#672CAE;">
         <a href="#">
            <div class="icon">
              <i class='bx bxs-tree'></i>
            </div>
            <div class="text">Website Logo</div>
         </a>
      </li>
      <div class="Menulist">
         <li style="--bg:#ffa117;" class="active">
            <a href="#home">
               <div class="icon">
                <i class='bx bx-home-alt-2' ></i>
               </div>
               <div class="text">Home</div>
            </a>
         </li>
         <li style="--bg:#0fc70f;">
            <a href="#profile">
               <div class="icon">
                <i class='bx bx-user-circle' ></i>
               </div>
               <div class="text">Profile</div>
            </a>
         </li>
         <li style="--bg:#f44336;">
            <a href="#chatboxes">
               <div class="icon">
                <i class='bx bxs-contact' ></i>
               </div>
               <div class="text">Inbox</div>
            </a>
         </li>
         <li style="--bg:#f44336;">
            <a href="#analytics">
               <div class="icon">
                <i class='bx bx-line-chart' ></i>
               </div>
               <div class="text">Analytics</div>
            </a>
         </li>
         <li style="--bg:#b145e9;">
            <a href="#search">
               <div class="icon">
                <i class='bx bx-file-find' ></i>
               </div>
               <div class="text">Search</div>
            </a>
         </li>
         <li style="--bg:#e91e63;">
            <a href="#settings">
               <div class="icon">
                <i class='bx bx-cog' ></i>
               </div>
               <div class="text">Settings</div>
            </a>
         </li>
      </div>
      <div class="bottom">
         <li style="--bg:#333;">
            <a href="#">
               <div class="icon">
                  <div class="imageBox">
                     <img
                        src="../../public/profile-1.jpg"
                        alt="profile image" />
                  </div>
               </div>
               <div class="text">JFDA</div>
            </a>
         </li>
         <li style="--bg:#2258BC;">
            <a href="#">
               <div class="icon">
                <i class='bx bx-log-out' ></i>
               </div>
               <div class="text">Logout</div>
            </a>

<style>
  @import "../Styles.css";
</style>
