
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{

    --bgn: #333;
    --bg1: #f44336;
    --bg2: #ffa117;
    --bg3: #0fc70f;
    --bg4: #2196f3;
    --bg5: #b145e9;
    --bg6: #e91e63;
    --crl: #14161e;
    --bgsb: #fff;
    --bgt: #31a4ff;

}



.bottom .logo a .imgbx img{
    height: 60px;
    width: 60px;
}

body{
   min-height: 100vh;
   background: var(--crl);
}

.sidebar{
    position: absolute;
    width: 80px;
    height: 100vh;
    background: var(--bgsb);
    transition: 0.5s;
    padding-left: 10px;
    overflow: hidden;
}

.sidebar.active{
    width: 300px;
}

.sidebar ul{

    position: relative;
    height: 100vh;
}

.sidebar ul  li{
    position: relative;
   list-style: none;
}

.sidebar ul  li.active{
    background: var(--crl);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.sidebar ul  li.active::before{
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    box-shadow: 5px 5px 0 5px var(--crl);
    border-bottom-right-radius: 20px;
    background: transparent;
    
}

.sidebar ul  li.active::after{
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    box-shadow: 5px -5px 0 5px var(--crl);
    border-top-right-radius: 20px;
    background: transparent;
    
}

.sidebar ul  li.logo{
    margin-bottom: 50px;
} 

.sidebar ul  li.logo .icon{
    font-size: 2em;
    color: var(--crl);
}

.sidebar ul  li.logo .text{
    font-size: 1.2em;
    font-weight: 500;
    color: var(--crl);
}

.sidebar ul li a{
position: relative;
display: flex;
white-space: nowrap;
text-decoration: none;
}
.sidebar ul li a .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 70px;
    font-size: 1.5em;
    color: var(--bgn);
    transition: 0.5s;
    }

    .sidebar ul  li a .text{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70px;
        font-size: 1em;
        color: var(--bgn);
        transition: 0.5s;
        padding-left: 15px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        transition: 0.5s;
        }

.sidebar ul li.active a .icon{
color:var(--bgsb);
z-index: #fff;
}

.sidebar ul li.active a .text{
color:#fff;
}

.sidebar ul  li:hover a .icon,
.sidebar ul  li:hover a .text{
        color: var(--bg);
 }

 .sidebar ul li.active a .icon::before{
    content: '';
position: absolute;
inset: 5px;
width: 60px;
  background:var(--bg1);
  border-radius: 50%;
 }

.bottom{
        position: relative; 
        bottom: 0;
        width: 100%;
}

    .imgbx{
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
        }

    .imgbx img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    .menutoggle{
            position: absolute;
            top: 20px;
            right: 20px;
            width: 50px;
            height: 50px;
            background: var(--bgt) ;
            z-index: 1000;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    .menutoggle::before{
            content: "";
             position: absolute;
             width: 20px;
             height: 3px;
             background: var(--bgsb);
             transform: translateY(-9px);
             transition: 0.5s;
             box-shadow: 0 9px var(--bgsb);
          }

    .menutoggle::after{
            content: "";
             position: absolute;
             width: 20px;
             height: 3px;
             background: var(--bgsb);
             transform: translateY(9px);
             transition: 0.5s;
          }

    .menutoggle.active::before{
            transform: translateY(0px) rotate(45deg);
            box-shadow: 0 0  0 var(--bgsb);
           
          }
    
   .menutoggle.active::after{
     transform: translateY(0px) rotate(-45deg);
   }